

{% if logs %}
    <table>
        <thead>
            <tr>
                <th colspan="2">Historique des commandes</th>
                <th>Nom du compte</th>
                <th>Date d'exécution</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                <tr>
                    <td>{{ log.id }}</td>
                    <td>{{ log.cmd }}</td>
                    <td>{{ log.user_id }}</td>
                    <td>{{ log.executed_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No logs are available.</p>
{% endif %}